*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

              /* header style */

.banner{
    display: flex;
    background-image: url(./images/banner/banner2.png);
    background-size: cover;
    height: 809px;
}

.banner-img img{
    width: 100%;

} 
.banner-title{
    margin-top: 200px;
    margin-left: 700px;
    margin-right: 215px;
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
    
}
.pro-pragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;



}
.header-button{
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-left: 320px;
}

                 /*first-section style */

  .first-section{
    display: flex;
    height: 720px;
    width: 1070px;
    margin: 150px 200px;
}
.my-fuilures-div{

    width: 416px;
    height: 400px;
    margin-left: 100px;
    margin-top: 200px;

    
 
}
.first-section ul li{
     margin-bottom: 5px;
     color: #444343;
     font-weight: 400;
     font-size: 16px;
     list-style: none;
}
.section-title{
    line-height: 46px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    
}
                  /* my plans section */
      
.my-plans-section{
    display: flex;
    gap: 70px;
    height: 300px;
    width: 1070px;
    margin-top: 70px;
    margin-left: 220px;
    text-align: center;
}

.my-plans-firet-title{
    line-height: 46px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;

} 
.my-plans-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

}
.pro-pragraph-second{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;}   


.my-plans-div img{
    text-align: center;

}
  
                 /* last-section style */
 
 .last-section{
    width: 1140px;
    height: 300px;
    background-image:url(./images/gradient2.png),url(./images/watch.png);
    margin: 10px 140px 100px 140px;
    
 }    
.last-title{
    width: 459px;
    height: 182px;
    padding-top: 60px;
    padding-left: 65px;
    color: wheat;

} 
.last-button{
    margin-top: 27px;
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    background-color: white;
    border: none;
    border-radius: 5px;

}
                 /* footer style */

.footer-ariya{
    display: flex;
    color: white;
    background-color: #151414;
    width: 1600px;
    height: 520px;
    margin-left: 1px;
    margin-top: 145px;


} 
.footer-left-div{
    width: 485px;
    height: 317px;
    padding-left: 200px;
    padding-top: 130px;
    /* left: 231px;
    top: 2792px; */

}
.footer-left-div img{
    margin-right: 10px;
}
.footer-left-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;

}
.footer-pragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 24px;

}
.phone-title{
    margin-top: 16px;
    margin-bottom: 32px;
}

.footer-right-div{
    width: 325px;
    height: 204px;
    margin-top: 130px;
    margin-left: 250px;

    /* left: 1047px;
    top: 2792px; */
}
.footer-right-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 31px;

}
#email{
    width: 300px;
    height: 55px;
    background-color: #151414;
    color: white;
    border:1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}




